#MLProperties: name (type:default) min:max -- information
#MLProp : axeIds (java.lang.String:258, 271, 275, 279, 286) -- List of item ids that are axes.
#
#Sun May 12 21:38:59 CEST 2013
axeIds=258, 271, 275, 279, 286
